body {
    margin: 0;
    padding: 0;
}
#c {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    max-width: 1280px;
    max-height: 720px;
    border: solid black 1px;
    display: block;
    margin: auto;
}